*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    color: #333;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.about.text {
    font-size: 1em;
    text-align: left;
    color: #333;
    position: relative;
    top: 20px;
    width: 80%;
    margin: 20px auto;
}

.drone-fill {
    fill: #eee;
}

.organizers-container, .sponsor-container, .gallery-container{
    position: relative;
    width: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, 20px);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translate(-50%, 20px);  /* IE 9 */
    transform: translate(-50%, 20px);
    padding-bottom: 50px;
}

.sponsor-container {
    width: 90%;
    text-align: center;
}

.gallery-container {
    text-align: center;
    width: 80%;
}

.header-container {
    width: 400px;
}

.header {
    position: relative;
    left: -200px;
    background-color: #333;
    height: auto;
    width: 600px;
    color: #eee;
    text-align: right;
    padding-right: 20px;
    font-size: 3em;
    top: 20px;
}

.hidden {
    opacity: 0;
}
    .animate {
        animation: slide-left 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1s 1 forwards;
        animation-delay: 0s;
    }

.icon {
    width: 20px;
    margin-right: 5px;
    float: left;
}

.icon-background {
    fill: #333;
}

.icon.linkedin-icon .icon-background{
    fill: #3498db;
}

.icon-background:hover{
    fill: #555;
}

.icon.linkedin-icon .icon-background:hover{
    fill: #55aeea;
}

.landing .content {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translate(-50%, 0);  /* IE 9 */
    transform: translate(-50%, 0%);
}

.landing .splash-presents {
    color: #eee;
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}

.landing .uav {
    top: 20px;
    width: 50%;
    left: 50%;
}

.landing .wdr {
    opacity: 0;
    top: 35%;
    width: 90%;
    /*opacity: .95;*/
    animation: opacity-shift 1.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.5s 1 forwards;
}

.person-container {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.person-headshot {
    width: 150px;
}

.person-name {
    color: #333;
}

.person-title {
    font-size: .8em;
    margin-bottom: 5px;
}

.pic {
    width: 20%;
    margin-top: 10px;
    margin-right: 10px;
    opacity: .9;
}
.pic:hover {
    opacity: 1;
}

.section {
    width: 100%;
    height: auto;
    background-color: #eee;
    padding-bottom: 20px;
}

.section.about {
    background-color: #fff;
}

.section.landing {
    position: absolute;
    top: 50%;
    width: 85%;
    left: 50%;
    padding-bottom: 0;
    background: none;
    opacity: 0.9;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section.organizers {
    height: auto;
    padding-bottom: 50px;
}

.section.sponsor {
    height: auto;
    background-color: #ddd;
}

.section.footer {
    background-color: #111;
    height: auto;
}

.section.footer div a:hover {
    cursor: pointer;
    color: #01579B;
}
.section.footer input {
    border-radius: 5px;
    color: #333;
    margin-right: 5px;
    width: 200px;
}

.section.footer .right-container {
    border-left: 2px solid #222;
}

.section.footer .left-container, .section.footer .right-container {
    width: 50%;
    float: left;
    padding-bottom: 20px;
}

.section .clear {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

.section input#mc-embedded-subscribe{
    
    background-color: #01579B;
    width: 200px;
    color: #eee;
    margin-right: 5px;
}

.section .mailing-container, .section.footer .contact-container  {
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    top: 10px;
}

.section .mailing-container {
    text-align: center;
    width: 90%;
}

.section.footer .contact-container {
    text-align: center;
}

.section.subscribe .email, .section .button {
    margin-top: 10px;
    border: none;
    padding: 5px 10px;
    font-size: .9em;
    border-radius: 5px;
}

.section.subscribe .email {
    width: 50%;
    display: inline-block;
    margin-top: 20px;
}

#mc_embed_signup {
    margin-top:10px;
}

.section label, .section.footer .title {
    color: #eee;
    margin-right: 10px;
    font-size: 1.4em;
}

.section.footer .subtitle{
    font-size: 1.1em;
    margin-top: 5px;
    color: #eee;
}

.section.footer .text, .section.footer a  {
    font-size: 1em;
    color: #ccc;
}

.section.gallery {
    height: auto;
    background-color: #fff;
}

.splash {
    background: url("../img/stadium-pano-min-min.jpg") no-repeat center center fixed;
    background-size: 250%;
    height: 100%;
    opacity: .85;
}

.splash-content-container {
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translate(-50%, 0%);/* IE 9 */
    transform: translate(-50%, 0%);
    opacity: .95;
}

.sponsor-container img {
    height: 80px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.splash-text {
    color: #eee;
    font-size: 5em;
    position: relative;
    width: 100%;
    text-align: center;
    top: 20px;
}


.underline {
    position: relative;
    border-bottom: 1px solid #eee;
    top:15px;
}


#campenilli {
    width: 30%;
}

#courtyard {
    width: 40%;
}

#pano {
    width: 93%;
}

@keyframes slide-left {
    0%   { 
        opacity: 0;
        margin-left: -200px;
    }
    100% {
        opacity: 1;
        margin-left: 100px;
    }
}

@keyframes opacity-shift {
    0%   { 
        opacity: 0;
    }
    100% {
        opacity: .95;
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    /*border-radius: 50%;*/
    /*border: 3px solid transparent;*/
    /*border-top-color: #3498db;*/

    -webkit-animation: hover .4s cubic-bezier(0.645, 0.045, 0.355, 1.000) 0s infinite alternate; /* Chrome, Opera 15+, Safari 5+ */
    animation: hover .4s cubic-bezier(0.645, 0.045, 0.355, 1.000) 0s infinite alternate; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        /*border-radius: 50%;*/
        /*border: 3px solid transparent;*/
        /*border-top-color: #e74c3c;*/

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        /*border-radius: 50%;*/
        /*border: 3px solid transparent;*/
        /*border-top-color: #f9c922;*/

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes hover {
        0%   { 
            -webkit-transform: translate(0px, 0px);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translate(0px, 0px);  /* IE 9 */
            transform: translate(0px, 0px);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: translate(0px, 10px);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translate(0px, 20px);  /* IE 9 */
            transform: translate(0px, 20px);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes hover {
        0%   { 
            -webkit-transform: translate(0px, 0px);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translate(0px, 0px);  /* IE 9 */
            transform: translate(0px, 0px);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: translate(0px, 10px);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translate(0px, 20px);  /* IE 9 */
            transform: translate(0px, 20px);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }
