*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    color: #333;
    min-height: 100%;
}

.about-container {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 20px);
}

.header-container {
    width: 400px;
}

.header {
    position: relative;
    left: -200px;
    background-color: #333;
    height: auto;
    width: 600px;
    color: #eee;
    text-align: right;
    padding-right: 20px;
    font-size: 3em;
    top: 20px;
}

.hidden {
    opacity: 0;
}

.person-container {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.person-headshot {
    width: 150px;
}

.person-name {
    color: #333;
}

.section {
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.section.about {
    height: auto;
    padding-bottom: 50px;
}

.section.sponsor {
    background-color: #ddd;
}

.section.footer {
    background-color: #333;
    height: auto;
}

.section.footer input {
    border-radius: 5px;
    color: #333;
    margin-right: 5px;
    width: 200px;
}

.section.footer .left-container {
    height: auto;
    border-right: 2px solid #444;
}

.section.footer .left-container, .section.footer .right-container {
    width: 50%;
    float: left;
}

.section.footer input#mc-embedded-subscribe{
    border-radius: 5px;
    background-color: #01579B;
    width: 200px;
    color: #eee;
    margin-right: 5px;
}

.section.footer .mailing-container, .section.footer .contact-container  {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    top: 10px;
}

.section.footer .contact-container {
    text-align: center;
}

.section.footer .email, .section.footer .button {
    margin-top: 10px;
}

.section.footer label, .section.footer .title {
    color: #eee;
    margin-right: 10px;
}

.splash {
    background: url("../img/stadium-pano-min.jpg") no-repeat center center fixed;
    background-size: 250%;
    height: 100%;
    opacity: .85;
}

.splash-presents {
    position: relative;
    color:#eee;
    font-size: 2em;
    top:20px;
}

.splash-content-container {
    position: absolute;
    width: auto;
    text-align: center;
    top: 20px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0%);
}

.splash-text {
    color: #eee;
    font-size: 5em;
    position: relative;
    width: 100%;
    text-align: center;
    top: 20px;
}

.underline {
    position: relative;
    border-bottom: 1px solid #eee;
    top:15px;
}